.accordion {
  position: relative;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    top: 9px;
    right: 36px;
    width: 15px;
    height: 8px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.accordion-open {
  &::before {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    top: 10px;
    right: 36px;
    width: 15px;
    height: 8px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    cursor: pointer;
  }
}

.content {
  display: none;
}

.accordion-opened {
  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

.accordion__content {
  display: none;
}

.accordion-open + .content {
  display: block;
}

.accordion-opened + .content {
  display: block;
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .accordion {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 25px;
      right: 0;
      width: 15px;
      height: 8px;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom;
    }
  }

  .accordion-open {
    &::before {
      display: none;
    }

    &::after {
      position: absolute;
      content: "";
      top: 25px;
      right: 0;
      width: 15px;
      height: 8px;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
      background-size: contain;
      transform: rotate(180deg);
      cursor: pointer;
    }
  }
}
