.blogs {
  width: 100%;
  max-width: 1366px;
  min-height: 583px;
  @include center;
  margin-bottom: 57px;
  display: flex;
  justify-content: flex-end;
  background-image: url("../img/sunset-desctop@1x.jpg");
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/sunset-desctop@2x.jpg");
    background-size: 1366px auto;
  }
}

.blogs__wrap {
  width: 404px;
  min-height: 267px;
  margin-top: 120px;
  margin-right: 12%;
  display: flex;
  flex-direction: column;
}

.blogs__hashtag {
  @include marginnone;
  margin-bottom: 24px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $blue;
  text-align: left;
}

.blogs__content {
  width: 98%;
  @include marginnone;
  margin-bottom: 48px;
  font-size: 17px;
  line-height: 29px;
  color: $white;
  opacity: 0.87;
}

.blogs__link {
  position: relative;
  width: 198px;
  height: 59px;
  padding-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: $white;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.12);
  background: linear-gradient(142.39deg, $yellow 20.46%, $light-yellow 65.31%);
  border-radius: 80px;

  &::before {
    position: absolute;
    content: "";
    top: 18px;
    left: 40px;
    width: 24px;
    height: 24px;
    background-image: url("../img/icon-instagram-w.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:hover,
  &:focus {
    background: linear-gradient(143.55deg, $yellow -50.3%, $light-yellow 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, $yellow -50.3%, $light-yellow 63.1%);
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .blogs {
    width: 100%;
    max-width: 1023px;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }

  .blogs__wrap {
    width: 600px;
    @include marginnone;
    align-items: center;
  }

  .blogs__hashtag {
    margin-bottom: 40px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .blogs {
    width: 100%;
    max-width: 767px;
    min-height: 392px;
    @include center;
    margin-bottom: 80px;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../img/sunset-mob@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/sunset-mob@2x.jpg");
    }
  }

  .blogs__wrap {
    width: 92.5%;
    @include center;
    align-items: center;
  }

  .blogs__hashtag {
    margin-top: 25px;
    margin-bottom: 96px;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
  }

  .blogs__content {
    width: 272px;
    @include marginnone;
    margin-bottom: 57px;
    font-size: 16px;
    line-height: 26px;
  }

  .blogs__link {
    width: 232px;
    height: 59px;

    &::before {
      position: absolute;
      content: "";
      top: 18px;
      left: 57px;
    }
  }
}
