.city {
  position: relative;
  width: 210px;
  @include marginnone;
  margin-top: 48px;
  margin-bottom: 39px;
  padding-left: 20px;
  display: flex;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 12px;
    height: 18px;
    background-image: url("../img/pointer-g.png");
    background-size: cover;
  }

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    right: -20px;
    width: 16px;
    height: 15px;
    background-color: transparent;
    background-image: url("../img/marker.png");
    background-size: contain;
  }
}

.city__name {
  position: relative;
  width: 105px;
  height: 24px;
  @include marginnone;
  margin-left: auto;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  font-variant: small-caps;
  opacity: 0.74;
  border: none;
  border-bottom: 1px dashed $blue;
  background-color: transparent;
  vertical-align: baseline;
}


@media (min-width: $tablet-width) and (max-width: $desktop-width) {

}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {

}
