.city {
  position: relative;
  width: 190px;

  @include marginnone;

  margin-top: 49px;
  margin-bottom: 39px;
  padding-left: 22px;
  display: flex;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 4px;
    width: 12px;
    height: 18px;
    background-image: url("../img/pointer-g.png");
    background-size: cover;
  }
}

.city__name {
  position: relative;
  width: 110px;
  height: 24px;

  @include marginnone;

  margin-left: auto;
  margin-right: -10px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  font-variant: small-caps;
  letter-spacing: 0.01;
  text-align: left;
  opacity: 0.74;
  border: none;
  border-bottom: 1px dashed $blue;
  background: none;
  appearance: none;
  vertical-align: baseline;
  overflow-y: auto;
  outline: none;
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .city {
    margin-top: 0;
    margin-bottom: 29px;
    padding-left: 22px;

    &::before {
      position: absolute;
      content: "";
      left: 4px;
    }
  }
}
