.details {
  width: 100%;
  max-width: 1366px;
  min-height: 698px;

  @include center;

  display: flex;
  flex-direction: column;
  background-image: url("../img/watercolor-cart.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.details__envelope {
  max-width: 1256px;
  width: 92%;
  min-height: 625px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.details__container {
  width: 100%;
  min-height: 448px;
  margin-bottom: 22px;
  display: flex;
}

.details__head {
  max-width: 515px;
  width: 41%;
  min-height: 49px;

  @include marginnone;

  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: $blue;
  text-align: left;
}

.details__wrapper {
  max-width: 480px;
  width: 38%;
  min-height: 293px;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.details__city {
  width: 250px;
  min-height: 24px;
  font-size: 15px;
  line-height: 22px;
  opacity: 0.74;
}

.details__wrap {
  position: relative;
  width: 288px;
  min-height: 113px;
  margin-left: 136px;
  margin-bottom: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
  line-height: 22px;
  opacity: 0.74;

  &::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -134px;
    width: 112px;
    height: 112px;
    background-image: url("../img/foto-curator@1x.png");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/foto-curator@2x.png");
      background-size: 112px;
    }
  }
}

.details__content {
  @include marginnone;

  font-size: 17px;
  line-height: 29px;
  opacity: 0.87;
}

.details__cover {
  width: 197px;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details__curator {
  @include marginnone;

  color: $blue;
}

.details__firstname {
  @include marginnone;
}

.details__address {
  width: 250px;

  @include marginnone;

  font-size: 13px;
  line-height: 19px;
}

.details__map {
  position: relative;
  max-width: 702px;
  width: 56%;
  min-height: 448px;
  margin-top: -40px;

  &::after {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 18px;
    height: 28px;
    background-image: url("../img/poinet-b.png");
    background-size: contain;
  }
}

.details__imap {
  position: relative;
  max-width: 702px;
  width: 100%;
  height: 448px;
  mask-image: url("../img/mask.svg");
  border: none;
  z-index: 2;
}

.details__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  border: none;
}

.details__cont {
  width: 91%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
}

.details__text {
  max-width: 365px;
  width: 32%;
  min-height: 100px;
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details__request {
  max-width: 355px;
  width: 97%;

  @include marginnone;

  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  opacity: 0.87;
}

.details__security {
  width: 97%;

  @include marginnone;

  font-size: 13px;
  line-height: 19px;
  opacity: 0.5;
}

.details__form {
  max-width: 767px;
  width: 67.1%;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .details {
    width: 100%;
    max-width: 1023px;
    min-height: 385px;

    @include center;

    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    background-image: none;
  }

  .details__envelope {
    max-width: 920px;
    width: 90%;
    min-height: 385px;
    margin-left: 0;

    @include center;

    display: flex;
    flex-direction: column;
  }

  .details__head {
    width: 90%;
    min-height: 39px;
    font-size: 30px;
    line-height: 36px;
    text-align: left;
  }

  .details__container {
    width: 100%;
    min-height: 350px;

    @include center;

    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .details__wrapper {
    max-width: 920px;
    width: 100%;
    min-height: 350px;
    margin-right: 0;

    @include center;

    margin-bottom: 0;
  }

  .details__map {
    max-width: 702px;
    width: 100%;
    min-height: 448px;
    margin-top: 0;

    @include center;
  }

  .details__imap {
    position: relative;
    max-width: 702px;
    width: 100%;
    height: 448px;
    mask-image: url("../img/mask.svg");
    border: none;
    z-index: 2;
  }

  .details__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    border: none;
  }

  .details__cont {
    width: 100%;
    min-height: 385px;

    @include center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .details__text {
    max-width: 920px;
    width: 100%;
    min-height: 64px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .details__request {
    max-width: 920px;
    width: 100%;

    @include marginnone;

    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    opacity: 0.87;
  }

  .details__form {
    max-width: 920px;
    width: 100%;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .details {
    width: 100%;
    max-width: 767px;
    min-height: 1462px;

    @include center;

    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    background-image: none;
  }

  .details__envelope {
    max-width: 730px;
    width: 100%;
    min-height: 1462px;
    margin-left: 0;

    @include center;

    display: flex;
    flex-direction: column;
  }

  .details__head {
    max-width: 660px;
    width: 90%;
    font-size: 32px;
    min-height: 78px;

    @include center;

    margin-bottom: 24px;
    line-height: 39px;
    text-align: center;
  }

  .details__container {
    width: 100%;
    min-height: 429px;

    @include center;

    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
  }

  .details__wrapper {
    max-width: 660px;
    width: 91%;
    min-height: 429px;
    margin-right: 0;

    @include center;

    margin-bottom: 40px;
  }

  .details__city {
    min-height: 24px;
    font-size: 15px;
    line-height: 22px;
    opacity: 0.74;
  }

  .details__wrap {
    position: relative;
    width: 90%;
    min-height: 116px;
    margin-left: 0;
    margin-top: 136px;
    margin-bottom: 30px;

    &::before {
      position: absolute;
      content: "";
      top: -130px;
      left: 0;
      width: 112px;
      height: 112px;
      background-image: url("../img/foto-curator@1x.png");

      @media (min-resolution: $retina-dpi),
        (min-resolution: $retina-dppx) {
        background-image: url("../img/foto-curator@2x.png");
        background-size: 112px;
      }
    }
  }

  .details__address {
    width: 280px;

    @include marginnone;

    font-size: 13px;
    line-height: 19px;
  }


  .details__content {
    width: 90%;

    @include marginnone;

    font-size: 16px;
    line-height: 26px;
  }

  .details__map {
    position: relative;
    max-width: 660px;
    width: 100%;
    min-height: 420px;
    margin-top: 0;

    @include center;
  }

  .details__imap {
    position: relative;
    max-width: 660px;
    width: 100%;
    height: 420px;

    @include center;

    mask-image: url("../img/mask.svg");
    mask-position: top right;
  }

  .details__image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 660px;
    width: 100%;
    height: 420px;
  }

  .details__cont {
    width: 90%;
    min-height: 385px;

    @include center;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .details__text {
    max-width: 690px;
    width: 100%;
    min-height: 144px;
    margin-bottom: 32px;
  }

  .details__request {
    max-width: 690px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
  }

  .details__security {
    width: 100%;
  }

  .details__form {
    max-width: 690px;
    width: 100%;
  }
}
