.form {
  display: flex;
  justify-content: space-between;
}

.form input:invalid {
  box-shadow: none;
}

.form input {
  width: 249px;
  height: 59px;
  margin: 0 2px;
  padding-left: 40px;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  opacity: 0.87;
  border: 2px solid $ight-gray;
  box-sizing: border-box;
  border-radius: 80px;
  outline: none;
  cursor: pointer;

  &::placeholder {
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    font-variant: small-caps;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    border-color: $yellow;
  }
}

.form button {
  width: 216px;
  height: 59px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  font-variant: small-caps;
  color: $white;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  background: linear-gradient(140.64deg, #ffc341 20.46%, #ffd701 65.31%);
  border: none;
  border-radius: 80px;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
  }

  &:active {
    background: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
  }
}

.form input[type="checkbox"] {
  position: absolute;
  bottom: 10%;
  left: 20%;
  z-index: -1;
}

.form input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  top: 0;
  left: 60px;
  border: 2px solid transparent;
  border-image: linear-gradient(146.13deg, #ffc341 20.46%, #ffd701 65.31%);
  border-radius: 2px;
  border-image-slice: 1;
}

.form input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 62px;
  width: 18px;
  height: 18px;
  background: linear-gradient(146.13deg, #ffc341 20.46%, #ffd701 65.31%);
  clip-path: polygon(45% 64%, 84% 14%, 100% 28%, 47% 100%, 0 49%, 15% 32%);
  transform: scale(1);
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .form input {
    width: 288px;
    height: 59px;

    @include center;

    margin-bottom: 12px;
    padding-left: 40px;
  }

  .form button {
    width: 264px;
    height: 59px;

    @include center;

    margin-top: 16px;
  }

  .form input[type="checkbox"] + label::before {
    top: 0;
    left: 14px;
  }

  .form input[type="checkbox"]:checked + label::after {
    top: 0;
    left: 16px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .form input {
    width: 288px;
    height: 59px;

    @include center;

    margin-bottom: 9px;
    padding-left: 40px;
  }

  .form button {
    width: 264px;
    height: 59px;

    @include center;

    margin-top: 16px;
  }

  .form input[type="checkbox"] + label::before {
    top: 0;
    left: 0;
  }

  .form input[type="checkbox"]:checked + label::after {
    top: 0;
    left: 2px;
  }
}
