.page-main {
  width: 100%;
  @include center;
  min-width: 1024px;
  background: transparent;
}

.page-main__slogan {
  width: 1366px;
  @include center;
}

.page-main__description {
  width: 1366px;
  @include center;
}

.page-main__programs {
  width: 1366px;
  @include center;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-main {
    width: 100%;
    min-width: 768px;
  }

  .page-main__slogan {
    width: 100%;
    max-width: 1023px;
  }

  .page-main__description {
    width: 100%;
  }

  .page-main__programs {
    width: 100%;
    max-width: 1023px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .page-main {
    width: 100%;
    min-width: 320px;
  }

  .page-main__slogan {
    width: 100%;
    max-width: 767px;
  }

  .page-main__description {
    max-width: 767px;
  }

  .page-main__programs {
    max-width: 767px;
  }
}
