.slogan {
  min-height: 900px;
  margin-top: -90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/telaviv-desctop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/telaviv-desctop@2x.jpg");
    background-size: 1366px auto;
  }
}

.slogan__wrap {
  width: 350px;
  min-height: 230px;
  margin-bottom: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan__content {
  @include marginnone;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $white;
}

.slogan__scroll {
  width: 76px;
  height: 132px;
  background-image: url("../img/mouse.png");
  background-repeat: no-repeat;
  background-position: center;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .slogan {
    min-width: 768px;
    min-height: 700px;
    background-size: 1023px auto;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .slogan {
    min-width: 320px;
    min-height: 565px;
    margin-top: -40px;
    margin-bottom: 40px;
    justify-content: flex-end;
    background-image: url("../img/telaviv-mob@1x.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/telaviv-mob@2x.jpg");
      background-size: cover;
    }
  }

  .slogan__wrap {
    width: 290px;
    min-height: 100px;
    margin-bottom: 53px;
    display: flex;
    align-items: center;
  }

  .slogan__content {
    font-size: 20px;
    line-height: 24px;
  }
}
