.social {
  width: 104px;
  min-height: 24px;
  @include marginnone;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  &--details {
    width: 96px;
    @include marginnone;
    margin-left: -2px;
  }

  &--comments {
    margin-left: auto;
  }

  &--footer {
    width: 118px;
  }
}

.social__item {
    @include marginnone;
}

.social__icon {
  opacity: 0.16;
}

.social__link {

  &:hover,
  &:focus {

    .social__icon {
      opacity: 0.6;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {

}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .social {

    &--footer {
      width: 136px;
      min-height: 32px;
    }

    &--comments {
      margin-left: 0;
    }
  }

}
