.social {
  min-width: 104px;
  min-height: 24px;

  @include marginnone;

  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;

  &--details {
    width: 96px;

    @include marginnone;

    margin-left: -20px;
  }

  &--comments {
    margin-left: auto;
    justify-content: flex-end;
  }

  &--footer {
    justify-content: flex-end;
  }
}

.social__item {
  @include marginnone;
  margin-left: 15px;

  &--footer {
    margin-left: 20px;
  }
}

.social__icon {
  opacity: 0.16;
}

.social__link {
  &:hover,
  &:focus {
    .social__icon {
      opacity: 0.6;
    }
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .social {
    &--footer {
      width: 136px;
      min-height: 32px;
    }

    &--comments {
      margin-left: 0;
    }
  }
}
