$desktop-width: 1023px;
$tablet-width: 768px;
$mobile-width-only: 767px;
$mobile-width: 320px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$white: #ffffff;
$beige: #f9f5f2;
$wet-asphalt: #484848;
$yellow: #ffc341;
$light-yellow: #ffd701;
$blue: #1fc0fc;
$ight-gray: #e3e3e3;
